<!DOCTYPE html>
<html>
  <head>
    <title>Ewallet</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="row">
      <div class="col-xs-12 col-md-4 links">
        <%= link_to 'E-Wallet', root_path %>
      </div>

      <div class="col-xs-12 col-md-4 links">
        <%= link_to 'Add New Expense', new_wallet_path %>
      </div>

      <div class="col-xs-6 col-md-4 links">
        <%= link_to 'Sign In', '#' %>
        <%= link_to 'Sign Up', '#' %>
      </div>
    </header>

    <br class="clear" />

    <% if flash[:error].present? %>
      <div class="col-10 offset-1 alert alert-danger">
        <%= flash[:error].html_safe %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
